<h1 align="center" style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;">
  Preencha os campos para cadastro
</h1>
<br />
<form [formGroup]="aluno">
  <mat-grid-list cols="2" rowHeight="2:0.75">
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label
          style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;"
          >Matrícula</mat-label
        >
        <input matInput placeholder="Digite" formControlName="matricula" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label
          style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;"
          >Nome</mat-label
        >
        <input matInput placeholder="Digite" formControlName="nome" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label
          style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;"
          >AV1</mat-label
        >
        <input matInput placeholder="Digite" formControlName="av1" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label
          style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;"
          >AV2</mat-label
        >
        <input matInput placeholder="Digite" formControlName="av3" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field appearance="outline">
        <mat-label
          style="color: grey; font-family: Roboto, Arial, Helvetica, sans-serif;"
          >AV3</mat-label
        >
        <input matInput placeholder="Digite" formControlName="av2" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <button
        mat-raised-button
        style="
          width: 100px;
          height: 60px;
          margin-top: -20px;
          color: white;
          background-color: grey;
          font-family: Roboto, Arial, Helvetica, sans-serif;
        "
        (click)="salvar()"
      >
        Salvar
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</form>
